<%- include('header'); -%> 

<h1 id="">Name</h1> 
<hr>Suhail Ahmed</hr>
<hr></hr>

<h1 id="">Address</h1> 
<hr>Deira, Dubai</hr>
<hr></hr>

<h1 id="">Phone</h1> 
<hr>+971547475288</hr>
<hr></hr>

<h1 id="">Email</h1> 
<hr>sb2050@hw.ac.uk</hr>
<hr></hr>

<%- include('footer'); -%>