<%- include('header'); -%>

<h1>You've Logged In Successfully!</h1>

<p>Welcome Back :)</p>

<a href="/">
    <button type = "button">Return to Main Page</button><br><br>
</a>


<%- include('footer'); -%>