<%- include('header'); -%>

<h1>Registration failed!</h1>
<p>An account already exists with the username you've chosen, please try registering again with another username.</p>

<a href="/">
    <button type = "button">Return to Main Page</button><br><br>
</a>


<%- include('footer'); -%>