<%- include('header'); -%>

<h1>Log in unsuccessful</h1>
<p>Sorry, there was an authentication error!</p><br><br>

<a href="/">
    <button type = "button">Return to Main Page</button><br><br>
</a>


<%- include('footer'); -%>